<%= form_with(model: [:admin, railway_station]) do |form| %>
  <%= render 'common/errors', resource: railway_station %>

  <div class="field">
    <p>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </p>
  </div>

  <div class="actions">
    <p>
      <%= form.submit t('.submit', action: @railway_station.new_record? ? 'Создать' : 'Изменить' ) %>
    </p>
  </div>
<% end %>
