<p>
  <strong><%= t('.current_station') %></strong>
  <%= @railway_station.title %>
</p>

<% if @railway_station.routes.empty? %>
  <p><%= t('.Station_is_not_included') %></p>
<% else %>
  <p><%= t('.Station_is_included') %>: </p>
  <ul>
    <% @railway_station.routes.each do |route| %>
      <li><%= route.name %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to t('common.back'), admin_railway_stations_path %> |
<%= link_to t('common.edit'), edit_admin_railway_station_path(@railway_station) %>
