<%= form_with(model: @train) do |form| %>
  <%= render 'common/errors', resource: @train %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <dev class="field">
    <%= form.label :current_station, "Current Station" %>
    <%= form.collection_select :current_station_id, RailwayStation.all, :id, :title %>
  </dev>

  <dev class="field">
    <%= form.label :route, "Current Route" %>
    <%= form.collection_select :route_id, Route.all, :id, :name %>
  </dev>

  <div class="actions">
    <%= form.submit "#{ @train.new_record? ? 'create' : 'edit' }" %>
  </div>
<% end %>