<%= form_with(model: @carriage.becomes(Carriage)) do |form| %>
  <%= render 'common/errors', resource: @carriage %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <dev class="field">
    <%= form.label :train_id, "train" %>
    <%= form.collection_select :train_id, Train.all, :id, :number %>
  </dev>

  <div class="field">
    <%= form.label :type %>
    <%= form.select :type, Carriage.subclasses.map {|c| [c.to_s.titleize.humanize, c]} %>
  </div>

  <div class="actions">
    <%= form.submit "#{ @carriage.new_record? ? 'create' : 'edit' }" %>
  </div>
<% end %>
