<%= form_for [:admin, @ticket] do |form| %>
  <%= render 'common/errors', resource: @ticket %>

  <div class="field">
    <p>
      <%= form.label :number, t('.number') %>
      <%= form.text_field :number %>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.label :train_id, t('.train') %>
      <%= form.collection_select :train_id, Train.all, :id, :number %>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.label :start_station_id, t('.start_station') %>
      <%= form.collection_select :start_station_id, RailwayStation.all, :id, :title %>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.label :end_station_id, t('.end_station') %>
      <%= form.collection_select :end_station_id, RailwayStation.all, :id, :title %>
    </p>
  </div>

  <div class="actions">
    <p>
      <%= form.submit t('.submit', action: @ticket.new_record? ? 'Создать' : 'Изменить' ) %>
    </p>
  </div>
<% end %>