<p id="notice"><%= notice %></p>

<h1>list ticket</h1>

<table>
  <thead>
  <tr>
    <th>number</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.number %></td>
      <td><%= link_to 'Show', [:admin, ticket] %></td>
      <td><%= link_to 'Edit', edit_admin_ticket_path(ticket) %></td>
      <td><%= link_to 'Destroy', [:admin, ticket], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td>can buy? - <%= ticket.user_id.nil? %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', admin_resources_index_path %> |
<%= link_to 'New ticket', new_admin_ticket_path %>
