<%= form_with(model: [:admin, @train, @carriage.becomes(Carriage)]) do |form| %>
  <%= render 'common/errors', resource: @carriage %>

  <div class="field">
    <p>
      <%= form.label :number, t('.number') %>
      <%= form.text_field :number %>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.label :train_id, t('.train') %>
      <%= form.collection_select :train_id, Train.all, :id, :number %>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.label :type, t('.type') %>
      <%= form.select :type, Carriage.subclasses.map {|c| [c.to_s.titleize.humanize, c]} %>
    </p>
  </div>

  <div class="actions">
    <p>
      <%= form.submit t('.submit', action: @carriage.new_record? ? 'Создать' : 'Изменить') %>
    </p>
  </div>
<% end %>
