<p>
  <strong><%= t('.number') %>:</strong>
  <%= @carriage.number %>
</p>

<p>
  <strong><%= t('.type') %>:</strong>
  <%= t(".#{@carriage.type.underscore}") %>
</p>

<p>
  <strong><%= t('.top_seats') %>:</strong>
  <%= @carriage.top_seats %>
</p>

<p>
  <strong><%= t('.bottom_seats') %>:</strong>
  <%= @carriage.bottom_seats %>
</p>

<p>
  <strong><%= t('.side_top_seats') %>:</strong>
  <%= @carriage.side_top_seats %>
</p>

<p>
  <strong><%= t('.side_bottom_seats') %>:</strong>
  <%= @carriage.side_bottom_seats %>
</p>

<%= link_to t('common.back'), admin_train_carriages_path %> |
<%= link_to t('common.edit'), edit_admin_train_carriage_path(@carriage) %>