<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Trains:</strong>
  <% @route.trains.each do |train| %>
    <tr><%= train.number %></tr>
  <% end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
