<%= form_with(model: [:admin, @train]) do |form| %>
  <%= render 'common/errors', resource: @train %>

    <div class="field">
      <p>
        <%= form.label :number, t('.number') %>
        <%= form.text_field :number %>
      </p>
    </div>

  <div class="field">
    <p>
      <%= form.label :current_station, t('.current_station') %>
      <%= form.collection_select :current_station_id, RailwayStation.all, :id, :title %>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.label :start_from_head, t('.start_from_head') %>
      <%= form.check_box :start_from_head, { checked: true } %>
    </p>
  </div>

  <div class="field">
    <p>
      <%= form.label :route, t('.route') %>
      <%= form.collection_select :route_id, Route.all, :id, :name %>
    </p>
  </div>

  <div class="actions">
    <p>
      <%= form.submit t('.submit', action: @train.new_record? ? 'Создать' : 'Изменить') %>
    </p>
  </div>
<% end %>