<p>
  <strong><%= t('.number') %>:</strong>
  <%= @train.number %>
</p>
<p>
  <strong> <%= t('.current_station') %>:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
  <%= t('.current_station') %>
  <% end %>
</p>

<p>
  <strong><%= t('.route') %>:</strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    The train is not on the route
  <% end %>
</p>

<p>
  <strong><%= t('.tickets_count') %>:</strong>
  <%= @train.tickets.count %>
</p>

<p>
  <strong><%= t('.start_from_head') %>:</strong>
  <%= @train.start_from_head %>
</p>

<p>
  <strong><%= t('.carriage') %>:</strong>
  <table class="table">
    <tr>
      <th><%= t('.number') %></th>
      <th><%= t('.type') %></th>
      <th>ID</th>
    </tr>
    <% @train.carriages.order_by_train_number(@train.start_from_head).each do |carriage| %>
      <tr>
        <th><%= carriage.train_number %></th>
        <th><%= t(".#{carriage.type.underscore}") %></th>
        <th><%= carriage.number %></th>
        <th><%= link_to t('common.show'), admin_train_carriage_path(carriage) %></th>
      </tr>
    <% end %>
  </table>
</p>

<%= link_to t('common.back'), admin_trains_path %> |
<%= link_to t('common.edit'), edit_admin_train_path(@train) %>
