<%= form_for [@user, @ticket] do |form| %>
  <%= render 'common/errors', resource: @ticket %>
  Train number: <%= @ticket.train.number %>
  <%= form.hidden_field :train_id %>
  <%= form.hidden_field :start_station_id %>
  <%= form.hidden_field :end_station_id %>

  <div class="field">
    <%= form.label :passport_number %>
    <%= form.text_field :passport_number %>
  </div>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name %>
  </div>

  <div class="actions">
    <%= form.submit "#{ @ticket.new_record? ? 'create' : 'edit' }" %>
  </div>
<% end %>